{% load static %}
<header id="masthead" class="site-header">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container">

            <div class="navbar-header">
               
                <a class="site-title" href="/"><span>Dental</span>Health</a>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/pacienteVerCitas">Ver citas</a></li>
                    <li><a href="/registrarCita">Agendar Citas</a></li>
                    {% if request.user.is_authenticated and idPaciente is not Null %}
                    <li><a href="{% url 'pacientePerfil' idPaciente %}">Perfil</a></li>
                    {% endif %}
                    
                    {% comment %} <li><a href="/registro">Registro</a></li> {% endcomment %}
                    {% comment %} <li><a href="/login">Ingresar</a></li> {% endcomment %}
                    
                </ul>

            </div>

        </div>   
    </nav><!-- /.site-navigation -->
</header><!-- /#mastheaed -->