{%  extends 'app/main.html' %}
{% load static%}
{% block content %}

    <div id="hero" class="hero overlay subpage-hero contact-hero" style="background: url({% static '/images/contact-hero.jpg' %}) no-repeat center / cover; ">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Registro</h1>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

        <section class="site-section subpage-site-section section-contact-us">

            <div class="container text-center">
                <div class="row" style="margin-left: 32rem">
                    <div class="col-sm-7">
                        <h2>Registrate</h2>
                        <form name="registroFrom" action="" method="POST">
                            {% csrf_token %}
                            
                            <div>
                            <label>Nombre de usuario:</label>
                            {{form.username}}
                        </div>
                        <div>
                            <label for="email">Correo:</label>
                            {{form.email}}
                        </div>
                        <div>
                            <label for="password1">Contraseña:</label>
                            {{form.password1}}
                        </div>
                        <div>
                            <label for="email">Confirmar contraseña:</label>
                            {{form.password2}}
                        </div>     
                        <div>
                            <label for="idUser">id User:</label>
                            {{form2.idUser}}
                        </div> 
                        <div>
                            <label for="idRol">Id Rol:</label>
                            {{form2.idRol}}
                        </div>                        
                            
                            
                            
                            
                            
    
                            <button type="submit" class="btn btn-green" >Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-contact-us -->
    </main><!-- /#main -->

    <script>
        document.getElementById("id_idRol").value = {{rol}}
    </script>

    {% endblock %}